@use "sass:map";
@import "./_variables.scss";
@import "./_variable-maps.scss";
@import "./_units.scss";

$text: #000;
$inputbg: #ccc;
$inputborder: #c0c0c0;
$buttontxt: #000;
$success: green;
$danger: red;
$trans1: 100ms;

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid { border-bottom: 1px solid $success; }
    &:invalid { border-bottom: 1px solid $danger; }
  }
  &:-webkit-autofill { 
    filter:none;
    box-shadow: 0 0 0 100rem rgba($success, 0.5) inset;
    z-index: 1;
}

}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  color: $text;
  pointer-events: none;
}

input,
textarea{
  background-color: rgba($inputbg, 0.1);
  padding: 1.5rem 0.5rem;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid $inputborder;
  border-radius: 0.15rem 0.15rem 0 0;
  font-size: 1.2rem;
  font-family: sans-serif;
  transition: all $trans1 ease-in-out;
  outline: 0;
    &:focus{
      background-color: lighten($inputbg, 10%);
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-radius: 0.15rem;
        + label{
          height: 1.5rem;
          font-size: 0.8rem;
          z-index: 4;
        }
    }
    &:not(:placeholder-shown) {
      + label{
        height: 1.5rem;
        font-size: 0.8rem;
      }
    }
}

small{
  margin-left: 25px;
  position: relative;
  margin-bottom: 1rem;
  &::before{
    position: absolute;
    content: '*';
    top: 0;
    left: -15px;
  }
}

.form-input-slide{
    position: relative;
    display: flex;
    margin-bottom: 1rem;
    z-index: 1;
    width: 100%;
        label{
            transition: all $trans1 ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.2rem;
            user-select: none;
            z-index: 2;
            padding: 0 0.5rem;
        }
        input, textarea{
            z-index: 3;
            width: 100%;
            padding: 1.75rem 0.5rem 0.75rem 0.5rem;
              &::placeholder{
                color: transparent;
              }
              &:not(:placeholder-shown) {
                + label{
                  height: 1.5rem;
                  font-size: 0.8rem;
                  z-index: 4;
                }
              }
        }
        &:focus-within{
            label{
                height: 1.5rem;
                font-size: 0.8rem;
            }
        }
}

.submit-button{
  position: relative;
  z-index: 1;
  color: $buttontxt;
  border: 0;
  outline: 0;
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1.45rem;
  font-weight: bold;
  text-transform: uppercase;
  outline: solid white 0px;
  border-radius: 0.15rem;
  cursor: pointer;
  transition: all $trans1 ease-in-out;
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      z-index: -1;
      transition: height $trans1 ease-in-out;
      background-color: $success;
    }
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: white;
      z-index: -2;
    }
    &:hover{
      outline: solid white 2px;
      &::before{
        height: 100%;
      }
    }
}

