@use "sass:map";
@import "./_variables.scss";
@import "./_variable-maps.scss";
@import "./_units.scss";

// This sets the default behavior of the animation to be 0ms, or instant, but 
// if the user has no preference on motion then the transition will be set to 
// a smoother number, for accessibility issues.

.modal-open{
    overflow: hidden;
}

s-modal-content{
    background-color: white;
}

// if(options.centered){ shownModal.setAttribute('data-centered', '') }
// if(options.static){ shownModal.setAttribute('data-static', '') }
// if(options.scrollable){ shownModal.setAttribute('data-scrollable', '') }

dialog, *[role=dialog]{
    --height: #{$root-modal-height};
    --width: #{$root-modal-width};
    --margin-top: 10%;
    --transition: 1ms;
}

dialog, *[role=dialog]{
    z-index: 10000;
    display: none;
    background: transparent;
    // border-radius: 0.15rem;
    overflow: hidden;
    opacity: 0;
    border: 0;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0;
    position: fixed;
    height: var(--height);
    width: var(--width);
    top: 0;
    margin-top: calc(var(--margin-top) - 5%);
    left: 50%;
    margin-left: calc(-0.5 * var(--width));
    transition: 
        opacity var(--transition) ease-in-out, 
        margin calc(var(--transition) + 10ms) ease-in-out;
    &[data-scrollable]{
        overflow-x: scroll;
    }
    &::before{
        content: '';
        z-index: -1;
        opacity: 0;
        transition: 
            opacity var(--transition) ease-in-out;
        background-color: rgba($color: #000000, $alpha: 0.65);
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
    }
    &::backdrop{ opacity: 0; }
    &[data-modal-open]{
        margin-top: var(--margin-top);
        opacity: 1;
        &::before{
            z-index: -1;
            opacity: 1;
        }
    }
    &[data-centered]{
        --margin-top: calc(-0.5 * var(--height));
        top: 50%;
    }
}

@media screen and (prefers-reduced-motion:no-preference){

    // IMPORTANT - All animations for modal opening and closing go here

    dialog, *[role=dialog]{
        &:not([data-no-animation]){
            --transition: #{$root-modal-transition-time};
        }
    }

}